.item2 {
    /* Add shadows to create the "card" effect */
  
    transition: 0.1s;
    margin: 30px;
    
    width: 93%;
    height:300px;
    text-align: center;
  
    border-radius: 20px;
    display: flex;
   color:#183710;
 border:none;
    margin-left: 50px;
    }
  
  
  

#msg-area{
  
    margin-left: 560px;
    border-radius:10px;
    min-width: 500px;
    min-height:100px;
    border:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size:18px;
 color:#242424;
 padding: 10px;
 background-color: white;
 margin-top: 30px;
}

.label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #242424;
    width:600px;
    margin-left: 575px;
    margin-bottom: 20px;
    
}

#enviar{
    border-radius:15px ;
    background-color: #242424;
    width: 200px;
    margin-top: 20px;
    margin-left: -3%;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    cursor: pointer;
    color: #fff8dbeb;
}

#enviar:hover{
    background: green;
}

