/* Orders.css */

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6e5d1;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.comments-title {
  font-size: 25px;
  margin-bottom: 20px;
  color: #4d311b;
}

.comment-form-title {
  font-size: 22px;
  color: #4d311b;
}

.items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6e5d1;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.items .item img {
  width: 128px;
  height: 128px;
}
.replies {
  margin-top: 20px;
}



